
<!-- <div *ngIf="question">
  <h2>Question {{question.question | uppercase}}</h2>

  <ul class="questions">
      <ng-template ngFor let-option [ngForOf]=" question.options" let-i="index">
          <li>
              {{option.title}} <br>
              Votes: {{option.votes}}
              <button (click)="chooseOption(option._id)">Choose</button>
        </li>
    </ng-template>
  </ul>
</div>
<button (click)="sendRequest()"> Vote  </button> -->
<iframe  src="http://voting.local/voting/5d25b5db8f04e73f24005144"  width="100%" height="700px"></iframe>